#timer {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 10px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.img-div {
    width: auto;
    overflow-x: auto;
}

.board {
  max-width: 600px;
  margin : 15px auto 15px;
  text-align: center;
}

.board-back {
  background-color: whitesmoke;
  margin : 0 auto;
  margin-bottom: 5px;
  height : 250px;
  max-width: 600px;
  overflow-y: scroll;
  color:black;
  text-align: left;
}

.letter {
  margin : 0 auto;
  padding: 15px;
  width: 50%;

  background-color: skyblue;
  color:black;
  font-size: large;
}